<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>جامعة الحرمين</title>
    <!-- Global stylesheets -->
    <link href="assets/css/ar/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/font.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/ar/colors.css" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery-confirm.min.css" rel="stylesheet" type="text/css">
    
    <!-- /global stylesheets -->

    <!--angular base-->
    <script type="text/javascript" src="assets/js/core/libraries/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/angular/angular-ui-router.js"></script>
    <!--/angular base-->

    <!--Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <!-- <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script> -->
    <!-- <script defer type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script> -->
    <!-- <script defer type="text/javascript" src="assets/js/pages/picker_date.js"></script> -->
    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script defer type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <!-- <script defer type="text/javascript" src="assets/js/pages/form_select2.js"></script> -->
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>   
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>    
    <script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="assets/js/pages/layout_fixed_custom.js"></script>
    <script type="text/javascript" src="assets/js/plugins/jquery-confirm.min.js"></script>
    <!-- <script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script> -->

    <!-- /theme JS files -->

    <!--&lt;!&ndash; angular translator &ndash;&gt;-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/translate.js"></script>-->

    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/directive/translate.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/directive/translate-attr.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/directive/translate-cloak.js"></script>-->
    <!--<script type="text/javascript"-->
    <!--src="assets/js/translation/angular-translate/directive/translate-language.js"></script>-->
    <!--<script type="text/javascript"-->
    <!--src="assets/js/translation/angular-translate/directive/translate-namespace.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/filter/translate.js"></script>-->
    <!--<script type="text/javascript"-->
    <!--src="assets/js/translation/angular-translate/service/default-interpolation.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/handler-log.js"></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="js/translation/angular-translate/service/loader-partial.js"></script>&ndash;&gt;-->
    <!--<script type="text/javascript"-->
    <!--src="assets/js/translation/angular-translate/service/loader-static-files.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/loader-url.js"></script>-->
    <!--<script type="text/javascript"-->
    <!--src="assets/js/translation/angular-translate/service/messageformat-interpolation.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/sanitization.js"></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="js/translation/angular-translate/service/storage-cookie.js"></script>&ndash;&gt;-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/storage-key.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/storage-local.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/translate.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/angular-translate/service/translationCache.js"></script>-->
    <!--<script type="text/javascript" src="assets/js/translation/translator.js"></script>-->
    <!--&lt;!&ndash; angular translator &ndash;&gt;-->
    <!--controllers-->
    <script src="assets/js/constants.js"></script>
    <script type="text/javascript" src="assets/js/core/appController.js"></script>
    <script type="text/javascript" src="assets/js/services/connector.js"></script>
    <script type="text/javascript" src="assets/js/services/user.js"></script>
    <script type="text/javascript" src="assets/js/controllers/homeScreenController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/pesrsonalInfoCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/createTaskCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/targetsCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/organizationsCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/createProjectCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/createProgramCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/personsCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/addGoalsCtrl.js"></script>
    <script type="text/javascript" src="assets/js/controllers/reportsCtrl.js"></script>
    
    
    <!--controllers-->
</head>
<body ng-class="loginPage? 'login-container':'navbar-top'" ng-app="myApp">
<!-- Main navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" ng-show="!loginPage">
    <div class="navbar-header">
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
            <li><a> نظام توثيق ومتابعة المشاريع والمهام الإستراتيجية | جامعة الحرمين </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/flags/sa.png" class="position-left" alt="">
                    العربية
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="english-font" href="index-ar.html"><img src="assets/images/flags/gb.png" alt="">
                        English </a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon-switch2"></i> تسجيل خروج </a></li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main" ng-if="!loginPage">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user-material">
                    <div class="category-content">
                        <div class="sidebar-user-material-content">
                            <a href="#"><img src="assets/images/logo.jpg" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <li class="nav-list-item" id="home"><a ng-click="navigateToPage('home')"><i
                                    class="icon-home4"></i>
                                <span> الرئيسية</span></a></li>
                            <li class="nav-list-item" id="personal"><a ng-click="navigateToPage('personal')"><i
                                    class="icon-profile"></i> <span> الصفحة الشخصية </span></a>
                            </li>
                            <li class="nav-list-item" id="tasks"><a ng-click="navigateToPage('tasks')"><i
                                    class="icon-clipboard2"></i>
                                <span> المهام </span></a></li>
                            <li class="nav-list-item" id="projects"><a ng-click="navigateToPage('projects')"><i
                                    class="icon-stack2"></i>
                                <span> المشاريع </span></a></li>
                            <li class="nav-list-item" id="programs"><a ng-click="navigateToPage('programs')"><i
                                    class="icon-stack"></i>
                                <span> البرامج</span></a></li>
                            <li class="nav-list-item" id="targets"><a ng-click="navigateToPage('targets')"><i
                                    class="icon-target"></i>
                                <span> الأهداف </span></a></li>
                            <li class="nav-list-item" id="persons"><a ng-click="navigateToPage('persons')"><i
                                    class="icon-users"></i> <span> الأشخاص</span></a>
                            </li>
                            <li class="nav-list-item" id="organizations"><a
                                    ng-click="navigateToPage('organizations')"><i class="icon-office"></i>
                                <span> الجهات </span></a></li>
                            <!-- <li class="nav-list-item" id="charts"><a ng-click="navigateToPage('charts')"><i
                                    class="icon-server"></i> <span>الخرائط</span></a>
                            </li> -->
                            <li class="nav-list-item" id="reports"><a ng-click="navigateToPage('reports')"><i
                                    class="icon-file-text2"></i>
                                <span> التقارير</span></a></li>
                            <!-- /main -->
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper " ng-class="loginPage? '' : 'pattern-bg'">
            <ui-view></ui-view>

        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
</body>
</html>



