<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="{{appDirection}}">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<title> الجهات   </title>-->
<!--&lt;!&ndash; Global stylesheets &ndash;&gt;-->
<!--<link href="assets/css/ar/icons/icomoon/styles.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/bootstrap.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/core.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/font.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/components.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/colors.css" rel="stylesheet" type="text/css">-->
<!--&lt;!&ndash; /global stylesheets &ndash;&gt;-->
<!--&lt;!&ndash; Core JS files &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; /core JS files &ndash;&gt;-->
<!--&lt;!&ndash; Theme JS files &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/app.js"></script>-->
<!--<script type="text/javascript" src="assets/js/pages/picker_date.js"></script>-->
<!--&lt;!&ndash; /theme JS files &ndash;&gt;-->
<!--</head>-->
<!--<body class="navbar-top">-->
<!--&lt;!&ndash; Main navbar &ndash;&gt;-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>-->
<!--<ul class="nav navbar-nav pull-right visible-xs-block">-->
<!--<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>-->
<!--<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse" id="navbar-mobile">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>-->
<!--<li><a> نظام توثيق ومتابعة المشاريع والمهام الإستراتيجية | جامعة الحرمين </a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->

<!--<li class="dropdown language-switch">-->
<!--<a class="dropdown-toggle" data-toggle="dropdown">-->
<!--<img src="assets/images/flags/sa.png" class="position-left" alt="">-->
<!--العربية-->
<!--<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a class="english-font" href="index.html"><img src="assets/images/flags/gb.png" alt="">  English </a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="#"><i class="icon-switch2"></i> تسجيل خروج </a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navbar &ndash;&gt;-->
<!--&lt;!&ndash; Page container &ndash;&gt;-->
<!--<div class="page-container">-->
<!--&lt;!&ndash; Page content &ndash;&gt;-->
<!--<div class="page-content">-->
<!--&lt;!&ndash; Main sidebar &ndash;&gt;-->
<!--<div class="sidebar sidebar-main sidebar-fixed">-->
<!--<div class="sidebar-content">-->

<!--&lt;!&ndash; User menu &ndash;&gt;-->
<!--<div class="sidebar-user-material">-->
<!--<div class="category-content">-->
<!--<div class="sidebar-user-material-content">-->
<!--<a href="#"><img src="assets/images/logo.jpg" class="img-responsive" alt=""></a>-->
<!--<h6>جامعة الحرمين </h6>-->
<!--<span class="text-size-small">ومن يؤت الحكمة فقد أوتي خيراً كثيراً</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /user menu &ndash;&gt;-->
<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--<div class="sidebar-category sidebar-category-visible">-->
<!--<div class="category-content no-padding">-->
<!--<ul class="navigation navigation-main navigation-accordion">-->
<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<li class="navigation-header"><span> الرئيسية </span> <i class="icon-menu" title="Main pages"></i></li>-->
<!--<li><a href="index-ar.html"><i class="icon-home4"></i> <span> الرئيسية</span></a></li>-->
<!--<li><a href="profile-ar.html"><i class="icon-profile"></i> <span> الصفحة الشخصية </span></a></li>-->
<!--<li><a href="roles-ar.html"><i class="icon-clipboard2"></i> <span> المهام </span></a></li>-->
<!--<li><a href="projects-ar.html"><i class="icon-stack2"></i> <span> المشاريع </span></a></li>-->
<!--<li><a href="programs-ar.html"><i class="icon-stack"></i> <span> البرامج</span></a></li>-->
<!--<li><a href="targets-ar.html"><i class="icon-target"></i> <span> الأهداف </span></a></li>-->
<!--<li><a href="persons-ar.html"><i class="icon-users"></i> <span> الأشخاص</span></a></li>-->
<!--<li class="active"><a href="organizations-ar.html"><i class="icon-office"></i> <span> الجهات </span></a></li>-->
<!--<li><a href="targets-map-ar.html"><i class="icon-server"></i> <span> خريطة الأهداف / البرامج / الجهات </span></a></li>-->
<!--<li><a href="reports.html"><i class="icon-file-text2"></i> <span> التقارير</span></a></li>-->
<!--&lt;!&ndash; /main &ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navigation &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!-- /main sidebar -->
<!-- Main content -->
<!--<div class="content-wrapper pattern-bg">-->
<!-- Content area -->
<div class="content">
    <div class="">
        <div class="page-header-content">
            <div class="page-title">
                <h3><span class="text-semibold"> تعريف الجهات </span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form name="firstLevelForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الأول </label>
                                <select multiple="multiple" class="form-control height-45-vh">
                                    <option ng-repeat="association in associations"
                                            ng-click="onAssociationSelected(association,$index,'level1')">
                                        {{association.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" ng-model="firstLevelModel"
                                       required>

                            </div>
                            <div class="text-right">
                                <!-- <button type="submit" ng-click="addEntry('level1',firstLevelForm.$valid)"
                                        class="btn bg-primary-400"> إضافة
                                </button> -->
                                <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addEntry('level1',firstLevelForm.$valid)"></i>
                                <!-- <button ng-click="editEntry('level1',firstLevelForm.$valid)" type="submit"
                                        class="btn bg-success-400"> حفظ
                                </button> -->
                                <i class="fa fa-floppy-o fa-2x action-icon" aria-hidden="true" ng-click="editEntry('level1',firstLevelForm.$valid)"></i>
                                <!-- <button type="button" ng-click="deleteEntry('level1')" class="btn bg-danger-400"> حذف
                                </button> -->
                                <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteEntry('level1')" aria-hidden="true"></i>                                
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" ng-show="showSecondLevel">
            <form name="secondLevelForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الثاني </label>
                                <select multiple="multiple" class="form-control height-45-vh">
                                    <option ng-repeat="(key, value) in selectedFirstLevelObject.children"
                                            ng-click="onAssociationSelected(selectedFirstLevelObject.children[key],$index,'level2',key)">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" ng-model="secondLevelModel"
                                       required>
                            </div>
                            <div class="text-right">
                                <!-- <button type="submit" ng-click="addEntry('level2',secondLevelForm.$valid)"
                                        class="btn bg-primary-400"> إضافة
                                </button> -->
                                <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addEntry('level2',secondLevelForm.$valid)"></i>                                
                                <!-- <button ng-click="editEntry('level2',secondLevelForm.$valid)" type="submit"
                                        class="btn bg-success-400"> حفظ
                                </button> -->
                                <i class="fa fa-floppy-o fa-2x action-icon" aria-hidden="true" ng-click="editEntry('level2',secondLevelForm.$valid)"></i>
                                <!-- <button type="button" ng-click="deleteEntry('level2')" class="btn bg-danger-400"> حذف
                                </button> -->
                                <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteEntry('level2')" aria-hidden="true"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" ng-show="showThirdLevel">
            <form name="thirdLevelForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الثالث </label>
                                <select multiple="multiple" class="form-control height-45-vh">
                                    <option ng-repeat="(key, value) in selectedSecondLevelObject.children"
                                            ng-click="onAssociationSelected(selectedSecondLevelObject.children[key],$index,'level3',key)">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" ng-model="thirdLevelModel"
                                       required>
                            </div>
                            <div class="text-right">
                                <!-- <button type="submit" ng-click="addEntry('level3',thirdLevelForm.$valid)"
                                        class="btn bg-primary-400"> إضافة
                                </button> -->
                                <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addEntry('level3',thirdLevelForm.$valid)"></i>                                                                
                                <!-- <button type="submit" ng-click="editEntry('level3',thirdLevelForm.$valid)"
                                        class="btn bg-success-400"> حفظ
                                </button> -->
                                <i class="fa fa-floppy-o fa-2x action-icon" aria-hidden="true" ng-click="editEntry('level3',thirdLevelForm.$valid)"></i>                                
                                <!-- <button type="button" ng-click="deleteEntry('level3')" class="btn bg-danger-400"> حذف
                                </button> -->
                                <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteEntry('level3')" aria-hidden="true"></i>                                
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" ng-show="showFourthLevel">
            <form name="fourthLevelForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الرابع </label>
                                <select multiple="multiple" class="form-control height-45-vh">
                                    <option ng-repeat="(key, value) in selectedThirdLevelObject.children"
                                            ng-click="onAssociationSelected(selectedThirdLevelObject.children[key],$index,'level4',key)">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" ng-model="fourthLevelModel"
                                       required>
                            </div>
                            <div class="text-right">
                                <!-- <button type="submit" ng-click="addEntry('level4',fourthLevelForm.$valid)"
                                        class="btn bg-primary-400"> إضافة
                                </button> -->
                                <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addEntry('level4',fourthLevelForm.$valid)"></i>                                                                                                
                                <!-- <button type="submit" ng-click="editEntry('level4',fourthLevelForm.$valid)"
                                        class="btn bg-success-400"> حفظ
                                </button> -->
                                <i class="fa fa-floppy-o fa-2x action-icon" aria-hidden="true" ng-click="editEntry('level4',fourthLevelForm.$valid)"></i>                                                                
                                <!-- <button type="button" ng-click="deleteEntry('level4')" class="btn bg-danger-400"> حذف
                                </button> -->
                                <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteEntry('level4')" aria-hidden="true"></i>                                                                
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. كلية المسجد النبوي - </a> جميع الحقوق محفوظة.
    </div>
    <!-- /footer -->
</div>
<!-- /content area -->
<!--</div>-->
<!-- /main content -->
<!--</div>-->
<!-- /page content -->
<!--</div>-->
<!-- /page container -->
<!--</body>-->
<!--</html>-->
