<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="{{appDirection}}">-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;<meta charset="utf-8">&ndash;&gt;-->
<!--&lt;!&ndash;<meta http-equiv="X-UA-Compatible" content="IE=edge">&ndash;&gt;-->
<!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1">&ndash;&gt;-->
<!--&lt;!&ndash;<title>  الأشخاص  </title>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; Global stylesheets &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/icons/icomoon/styles.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/bootstrap.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/core.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/font.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/components.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;<link href="assets/css/ar/colors.css" rel="stylesheet" type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; /global stylesheets &ndash;&gt;&ndash;&gt;-->
<!-- Core JS files -->
<!--<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>-->
<!-- /core JS files -->
<!-- Theme JS files -->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/app.js"></script>-->
<!--<script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>-->
<!-- /theme JS files -->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--<body class="navbar-top">-->
<!--&lt;!&ndash; Main navbar &ndash;&gt;-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>-->
<!--<ul class="nav navbar-nav pull-right visible-xs-block">-->
<!--<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>-->
<!--<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse" id="navbar-mobile">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>-->
<!--<li><a> نظام توثيق ومتابعة المشاريع والمهام الإستراتيجية | جامعة الحرمين </a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->

<!--<li class="dropdown language-switch">-->
<!--<a class="dropdown-toggle" data-toggle="dropdown">-->
<!--<img src="assets/images/flags/sa.png" class="position-left" alt="">-->
<!--العربية-->
<!--<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a class="english-font" href="index.html"><img src="assets/images/flags/gb.png" alt="">  English </a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="#"><i class="icon-switch2"></i> تسجيل خروج </a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navbar &ndash;&gt;-->
<!--&lt;!&ndash; Page container &ndash;&gt;-->
<!--<div class="page-container">-->
<!--&lt;!&ndash; Page content &ndash;&gt;-->
<!--<div class="page-content">-->
<!--&lt;!&ndash; Main sidebar &ndash;&gt;-->
<!--<div class="sidebar sidebar-main sidebar-fixed">-->
<!--<div class="sidebar-content">-->

<!--&lt;!&ndash; User menu &ndash;&gt;-->
<!--<div class="sidebar-user-material">-->
<!--<div class="category-content">-->
<!--<div class="sidebar-user-material-content">-->
<!--<a href="#"><img src="assets/images/logo.jpg" class="img-responsive" alt=""></a>-->
<!--<h6>جامعة الحرمين </h6>-->
<!--<span class="text-size-small">ومن يؤت الحكمة فقد أوتي خيراً كثيراً</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /user menu &ndash;&gt;-->
<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--<div class="sidebar-category sidebar-category-visible">-->
<!--<div class="category-content no-padding">-->
<!--<ul class="navigation navigation-main navigation-accordion">-->
<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<li class="navigation-header"><span> الرئيسية </span> <i class="icon-menu" title="Main pages"></i></li>-->
<!--<li><a href="index-ar.html"><i class="icon-home4"></i> <span> الرئيسية</span></a></li>-->
<!--<li><a href="profile-ar.html"><i class="icon-profile"></i> <span> الصفحة الشخصية </span></a></li>-->
<!--<li><a href="roles-ar.html"><i class="icon-clipboard2"></i> <span> المهام </span></a></li>-->
<!--<li><a href="projects-ar.html"><i class="icon-stack2"></i> <span> المشاريع </span></a></li>-->
<!--<li><a href="programs-ar.html"><i class="icon-stack"></i> <span> البرامج</span></a></li>-->
<!--<li><a href="targets-ar.html"><i class="icon-target"></i> <span> الأهداف </span></a></li>-->
<!--<li class="active"><a href="persons-ar.html"><i class="icon-users"></i> <span> الأشخاص</span></a></li>-->
<!--<li><a href="organizations-ar.html"><i class="icon-office"></i> <span> الجهات </span></a></li>-->
<!--<li><a href="targets-map-ar.html"><i class="icon-server"></i> <span>الخرائط</span></a></li>-->
<!--<li><a href="reports.html"><i class="icon-file-text2"></i> <span> التقارير</span></a>-->
<!--</li>-->
<!--&lt;!&ndash; /main &ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navigation &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main sidebar &ndash;&gt;-->
<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<div class="content-wrapper pattern-bg">-->
<!-- Content area -->
<div class="content">
    <div class="">
        <div class="page-header-content">
            <div class="page-title">
                <h3><span class="text-semibold"> تعريف الأشخاص </span></h3>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> الجامعة </label>
                                <select name="select" class="form-control" ng-change="onAssociationSelected('level1')"
                                        ng-model="entitiesModel.firstLevel">
                                    <option value="" disabled>اختر الجامعة</option>
                                    <option value="{{$index}}" ng-repeat="association in associations">
                                        {{association.name}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> الكلية </label>
                                <select name="select" class="form-control" ng-model="entitiesModel.secondLevel"
                                        ng-change="onAssociationSelected('level2')">
                                    <option value="" disabled>اختر الكلية</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedFirstLevelObject.children">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> الوكالة </label>
                                <select name="select" class="form-control" ng-model="entitiesModel.thirdLevel"
                                        ng-change="onAssociationSelected('level3')">
                                    <option value=""> جميع الوكالات</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedSecondLevelObject.children">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> القسم </label>
                                <select name="select" class="form-control" ng-model="entitiesModel.fourthLevel"
                                        ng-change="onAssociationSelected('level4')">
                                    <option value=""> جميع الأقسام</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedThirdLevelObject.children">{{value.name}}
                                    </option>

                                </select></div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select multiple="multiple" class="form-control height-300">
                                    <option ng-click="onUserClicked(user)" ng-repeat="user in users">{{user.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <form name="addUserForm" ng-submit="submitUserForm(userForm,userAuthorotiesModel)">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> الاسم </label>
                                <input type="text" class="form-control" ng-model="userForm.name" placeholder="الاسم"
                                       required>
                            </div>
                            <div class="form-group">
                                <label> اللقب </label>
                                <input type="text" class="form-control" ng-model="userForm.title" placeholder="اللقب"
                                       required>
                            </div>
                            <div class="form-group">
                                <label> المسمى الوظيفي </label>
                                <input type="text" class="form-control" ng-model="userForm.position"
                                       placeholder="المسمى الوظيفي" required>
                            </div>
                            <div class="form-group">
                                <label> الجوال </label>
                                <input type="text" class="form-control" ng-model="userForm.mobile" placeholder="الجوال"
                                       required>
                            </div>
                            <div class="form-group">
                                <label> رقم الواتس </label>
                                <input type="text" class="form-control" ng-model="userForm.whatsapp"
                                       placeholder="رقم الواتس" required>
                            </div>
                            <div class="form-group">
                                <label> تليفون </label>
                                <input type="text" class="form-control" ng-model="userForm.telephone"
                                       placeholder="تليفون" required>
                            </div>
                            <div class="form-group">
                                <label> بريد إلكتروني (1) </label>
                                <input type="email" class="form-control" ng-model="userForm.email1"
                                       placeholder="بريد إلكتروني" required>
                            </div>
                            <div class="form-group">
                                <label> بريد إلكتروني (2) </label>
                                <input type="email" class="form-control" ng-model="userForm.email2"
                                       placeholder="بريد إلكتروني" required>
                            </div>
                            <div class="form-group">
                                <label>اسم المستخدم</label>
                                <input type="text" class="form-control" ng-model="userForm._id"
                                       placeholder="اسم المستخدم" required>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label> تغيير كلمة السر </label>-->
                            <!--<input type="password" class="form-control" placeholder="كلمة السر">-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> الجامعة / الجهة </label>
                                <select name="select" class="form-control" ng-model="userForm.entityl1" required
                                        ng-change="onEntitySelected('level1')">
                                    <option value="" disabled>اختر الجامعة</option>
                                    <option value="{{association._id}}" ng-repeat="association in associations">
                                        {{association.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> الكلية </label>
                                <select name="select" class="form-control" ng-model="userForm.entityl2" required
                                        ng-change="onEntitySelected('level2')">
                                    <option value="" disabled>اختر الكلية</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedUniversity.children">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> الوكالات </label>
                                <select name="select" class="form-control" ng-model="userForm.entityl3" required
                                        ng-change="onEntitySelected('level3')">
                                    <option disabled value="">اختر وكالة</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedFaculty.children">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> الأقسام </label>
                                <select name="select" class="form-control" ng-model="userForm.entityl4" required
                                        ng-change="onEntitySelected('level4')">
                                    <option disabled value=""> اختر قسما</option>
                                    <option value="{{key}}"
                                            ng-repeat="(key, value) in selectedSector.children">{{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> الصلاحيات </label>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th width="15%">إستعراض</th>
                                        <th width="15%">إضافة</th>
                                        <th width="15%">تحرير</th>
                                        <th width="15%">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>المهام</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox" checked disabled>
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0" ng-model="userAuthorotiesModel.authTask_add">
                                                <label for="checkbox2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0" ng-model="userAuthorotiesModel.authTask_edit">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authTask_delete">
                                                <label for="checkbox4"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>المشاريع</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox5" type="checkbox" checked disabled>
                                                <label for="checkbox5"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox6" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProject_add">
                                                <label for="checkbox6"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox7" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProject_edit">
                                                <label for="checkbox7"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox8" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProject_delete">
                                                <label for="checkbox8"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>البرامج</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox9" type="checkbox" checked disabled>
                                                <label for="checkbox9"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox10" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProgram_add">
                                                <label for="checkbox10"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox11" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProgram_edit">
                                                <label for="checkbox11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox12" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authProgram_delete">
                                                <label for="checkbox12"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> الأهداف</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox13" type="checkbox" checked disabled>
                                                <label for="checkbox13"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox14" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0" ng-model="userAuthorotiesModel.authGoals_add">
                                                <label for="checkbox14"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox15" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authGoals_edit">
                                                <label for="checkbox15"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox16" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authGoals_delete">
                                                <label for="checkbox16"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> الأشخاص</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox17" type="checkbox" checked disabled>
                                                <label for="checkbox17"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox18" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0" ng-model="userAuthorotiesModel.authUsers_add">
                                                <label for="checkbox18"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox19" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authUsers_edit">
                                                <label for="checkbox19"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox20" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authUsers_delete">
                                                <label for="checkbox20"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> الجهات</td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox21" type="checkbox" checked disabled>
                                                <label for="checkbox21"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox22" type="checkbox" ng-true-value="4"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authEntities_add">
                                                <label for="checkbox22"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox23" type="checkbox" ng-true-value="2"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authEntities_edit">
                                                <label for="checkbox23"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox24" type="checkbox" ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-model="userAuthorotiesModel.authEntities_delete">
                                                <label for="checkbox24"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn bg-primary-400"> جديد</button>
                                <button ng-click="updateUser(userForm,userAuthorotiesModel)" type="button"
                                        class="btn bg-success-400"> حفظ
                                </button>
                                <button ng-click="deleteUser()" type="button" class="btn bg-danger-400"> إلغاء</button>
                            </div>
                        </div>


                    </div>

                </div>

            </form>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. كلية المسجد النبوي - </a> جميع الحقوق محفوظة.
    </div>
    <!-- /footer -->
</div>
<!-- /content area -->
<!--</div>-->
<!-- /main content -->
<!--</div>-->
<!-- /page content -->
<!--</div>-->
<!-- /page container -->
<!--</body>-->
<!--</html>-->
