<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="{{appDirection}}">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<title> التقارير </title>-->
<!--&lt;!&ndash; Global stylesheets &ndash;&gt;-->
<!--<link href="assets/css/ar/icons/icomoon/styles.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/bootstrap.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/core.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/font.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/components.css" rel="stylesheet" type="text/css">-->
<!--<link href="assets/css/ar/colors.css" rel="stylesheet" type="text/css">-->
<!--&lt;!&ndash; /global stylesheets &ndash;&gt;-->
<!--&lt;!&ndash; Core JS files &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; /core JS files &ndash;&gt;-->
<!--&lt;!&ndash; Theme JS files &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/core/app.js"></script>-->
<!--<script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>-->
<!--&lt;!&ndash; /theme JS files &ndash;&gt;-->
<!--</head>-->
<!--<body class="navbar-top">-->
<!--&lt;!&ndash; Main navbar &ndash;&gt;-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>-->
<!--<ul class="nav navbar-nav pull-right visible-xs-block">-->
<!--<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>-->
<!--<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse" id="navbar-mobile">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>-->
<!--</li>-->
<!--<li><a> نظام توثيق ومتابعة المشاريع والمهام الإستراتيجية | جامعة الحرمين </a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->

<!--<li class="dropdown language-switch">-->
<!--<a class="dropdown-toggle" data-toggle="dropdown">-->
<!--<img src="assets/images/flags/sa.png" class="position-left" alt="">-->
<!--العربية-->
<!--<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a class="english-font" href="index.html"><img src="assets/images/flags/gb.png" alt=""> English-->
<!--</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="#"><i class="icon-switch2"></i> تسجيل خروج </a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navbar &ndash;&gt;-->
<!--&lt;!&ndash; Page container &ndash;&gt;-->
<!--<div class="page-container">-->
<!--&lt;!&ndash; Page content &ndash;&gt;-->
<!--<div class="page-content">-->
<!--&lt;!&ndash; Main sidebar &ndash;&gt;-->
<!--<div class="sidebar sidebar-main sidebar-fixed">-->
<!--<div class="sidebar-content">-->

<!--&lt;!&ndash; User menu &ndash;&gt;-->
<!--<div class="sidebar-user-material">-->
<!--<div class="category-content">-->
<!--<div class="sidebar-user-material-content">-->
<!--<a href="#"><img src="assets/images/logo.jpg" class="img-responsive" alt=""></a>-->
<!--<h6>جامعة الحرمين </h6>-->
<!--<span class="text-size-small">ومن يؤت الحكمة فقد أوتي خيراً كثيراً</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /user menu &ndash;&gt;-->
<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--<div class="sidebar-category sidebar-category-visible">-->
<!--<div class="category-content no-padding">-->
<!--<ul class="navigation navigation-main navigation-accordion">-->
<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<li class="navigation-header"><span> الرئيسية </span> <i class="icon-menu"-->
<!--title="Main pages"></i></li>-->
<!--<li><a href="index-ar.html"><i class="icon-home4"></i> <span> الرئيسية</span></a></li>-->
<!--<li><a href="profile-ar.html"><i class="icon-profile"></i> <span> الصفحة الشخصية </span></a>-->
<!--</li>-->
<!--<li><a href="roles-ar.html"><i class="icon-clipboard2"></i> <span> المهام </span></a></li>-->
<!--<li><a href="projects-ar.html"><i class="icon-stack2"></i> <span> المشاريع </span></a></li>-->
<!--<li><a href="programs-ar.html"><i class="icon-stack"></i> <span> البرامج</span></a></li>-->
<!--<li><a href="targets-ar.html"><i class="icon-target"></i> <span> الأهداف </span></a></li>-->
<!--<li><a href="persons-ar.html"><i class="icon-users"></i> <span> الأشخاص</span></a></li>-->
<!--<li><a href="organizations-ar.html"><i class="icon-office"></i> <span> الجهات </span></a>-->
<!--</li>-->
<!--<li><a href="targets-map-ar.html"><i class="icon-server"></i> <span> خريطة الأهداف / البرامج / الجهات </span></a>-->
<!--</li>-->
<!--<li class="active"><a href="reports.html"><i class="icon-file-text2"></i>-->
<!--<span> التقارير</span></a></li>-->
<!--&lt;!&ndash; /main &ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main navigation &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /main sidebar &ndash;&gt;-->
<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<div class="content-wrapper pattern-bg">-->
<!-- Content area -->
<div class="content">
    <div class="">
        <div class="page-header-content">
            <div class="page-title">
                <h3>
                    <span class="text-semibold"> التقارير </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    اختيار التقرير
                                </label>
                                <select name="select" class="form-control" ng-model="selectedReport" ng-options="report as report.name for report in reports"
                                    ng-change="onReportSelected()">
                                    <option value="" disabled>التقارير</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="reportForm.name" placeholder="اسم التقرير">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" id="inlineCheckbox1" ng-model="reportForm.vision">
                                        <label for="inlineCheckbox1"> الرؤية </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox  ">
                                    <input type="checkbox" id="inlineCheckbox2" ng-model="reportForm.message">
                                    <label for="inlineCheckbox2"> الرسالة </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox  ">
                                    <input type="checkbox" id="inlineCheckbox3" ng-model="reportForm.principles">
                                    <label for="inlineCheckbox3"> القيم</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="checkbox  ">
                                        <input type="checkbox" id="inlineCheckbox4" value="option1" ng-model="enableGoals">
                                        <label for="inlineCheckbox4">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <select name="select" class="form-control" ng-disabled="!enableGoals" ng-model="reportForm.goals">
                                        <option value="" disabled>الأهداف </option>
                                        <option value="opt2">الأهداف الرئيسية فقط</option>
                                        <option value="opt3">الأهداف الرئيسية والفرعية</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="checkbox  ">
                                        <input type="checkbox" id="inlineCheckbox5" value="option1" ng-model="enablePrograms">
                                        <label for="inlineCheckbox5">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <select name="select" class="form-control" ng-disabled="!enablePrograms" ng-model="reportForm.programs">
                                        <option value="" disabled>
                                            البرامج
                                        </option>
                                        <option value="opt1">
                                            حصر البرامج دون توزيع
                                        </option>
                                        <option value="opt2">البرامج موزعة على الأهداف الرئيسية</option>
                                        <option value="opt3">البرامج موزعة على الأهداف الرئيسية والفرعية</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="checkbox  ">
                                        <input type="checkbox" id="inlineCheckbox7" value="option1" ng-model="enableProjects">
                                        <label for="inlineCheckbox7">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <select name="select" class="form-control" ng-disabled="!enableProjects" ng-model="reportForm.projects">
                                        <option value="" disabled>المشاريع</option>
                                        <option value="opt2">حصر المشاريع دون توزيع</option>
                                        <option value="opt3">المشاريع موزعة على البرامج</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="checkbox  ">
                                        <input type="checkbox" id="inlineCheckbox8" value="option1" ng-model="enableTasks">
                                        <label for="inlineCheckbox8">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <select name="select" class="form-control" ng-disabled="!enableTasks" ng-model="reportForm.tasks">
                                        <option value="" disabled>المهام</option>
                                        <option value="opt1">حصر المهام دون توزيع</option>
                                        <option value="opt2">المهام موزعة تبعا للحالة الراهنة</option>
                                        <option value="opt3">المهام موزعة تبعا للمشاريع</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="checkbox  ">
                                        <input type="checkbox" id="inlineCheckbox9" value="option1" ng-model="enableKPIs">
                                        <label for="inlineCheckbox9">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <select name="select" class="form-control" ng-disabled="!enableKPIs" ng-model="reportForm.kpis">
                                        <option value="" disabled>مؤشرات الأداء</option>
                                        <option value="opt2">حصر مؤشرات الأداء دون توزيع</option>
                                        <option value="opt3">مؤشرات الأداء موزعة على المشاريع والمراحل</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الأول </label>
                                <select name="select" class="form-control" ng-model="reportForm.entityl1" required ng-change="onEntitySelected('level1')">
                                    <option value="" disabled>اختر المستوى الأول</option>
                                    <option value="{{association._id}}" ng-repeat="association in associations">
                                        {{association.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الثاني </label>
                                <select name="select" class="form-control" ng-model="reportForm.entityl2" ng-change="onEntitySelected('level2')">
                                    <option value="">
                                        غير محدد
                                    </option>
                                    <option value="{{key}}" ng-repeat="(key, value) in selectedUniversity.children">
                                        {{value.name}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الثالث </label>
                                <select name="select" class="form-control" ng-model="reportForm.entityl3" ng-change="onEntitySelected('level3')">
                                    <option value="">
                                        غير محدد
                                    </option>
                                    <option value="{{key}}" ng-repeat="(key, value) in selectedFaculty.children">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> المستوى الرابع </label>
                                <select name="select" class="form-control" ng-model="reportForm.entityl4" ng-change="onEntitySelected('level4')">
                                    <option value="">
                                        غير محدد
                                    </option>
                                    <option value="{{key}}" ng-repeat="(key, value) in selectedSector.children">{{value.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="text-right">
                                <i class="fa fa-plus fa-2x text-green action-icon" ng-click="newReportForm()" aria-hidden="true"></i>
                                <i class="fa fa-floppy-o fa-2x action-icon" ng-click="submitReport(reportForm)" aria-hidden="true"></i>
                                <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteReport()" aria-hidden="true"></i>
                                <i class="fa fa-print fa-2x action-icon" ng-click="exportReport()" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. كلية المسجد النبوي - </a> جميع الحقوق محفوظة.
    </div>
    <!-- /footer -->
</div>
<!-- /content area -->
<!--</div>-->
<!-- /main content -->
<!--</div>-->
<!-- /page content -->
<!--</div>-->
<!-- /page container -->
<!--</body>-->
<!--</html>-->