<div id="printArea" style="direction: rtl;text-align: right;">
    <div style="direction: rtl;text-align: right;width: 100%;margin-bottom: 12px">
        <div style="display: inline-block;padding: 0 10px;vertical-align: text-bottom;">
            <img style="width:75px;height: 75px;" src="assets/images/log_transparent.png" alt="">
        </div>

        <div style="display: inline-block;vertical-align: top;">
            <p style="font-weight: bold;font-size:20px;color: darkgrey">
                {{ printAllTasks ? 'المهام ': selectedTask.name}}
            </p>
            <p style="font-weight: bold;color: darkgrey">
                {{entityl1}} {{entityl2}} {{entityl3}} {{entityl4}}
            </p>
        </div>

    </div>

    <div ng-if="printAllTasks" style="margin:8px">
        <p style="font-weight: bold;color: blue;" ng-if="selectedProject != undefined && projectId != undefined && projectId != ''">
            المشروع: {{selectedProject.name}}
        </p>
        <p style="font-weight: bold;color: blue; margin: 8px" ng-if="stageName != undefined && stageName != ''">
            المرحلة: {{stageName}}
        </p>
        <div ng-repeat="task in tasks">
            <p style="font-weight: bold;color: blue"> عنوان المهمة: {{task.name}} </p>
            <p>
                حالة المهمة: {{task.active ? 'نشطة':'تمت'}}
            </p>
            <p ng-repeat="user in allUsers" ng-if="user._id == task.manager">
                مدير المهمة: {{user.name}}
            </p>
            <p ng-if="task.approxCost != 0">
                التكلفة التقديرية {{task.approxCost}}
            </p>
            <p ng-if="task.datePlannedStart != 'NaN-NaN-NaN' && task.datePlannedStart != ''">
                تاريخ البداية المخطط: {{task.datePlannedStart}}
            </p>
            <p ng-if="task.datePlannedEnd != 'NaN-NaN-NaN' && task.datePlannedEnd != ''">
                تاريخ النهاية المخطط: {{task.datePlannedEnd}}
            </p>
            <p ng-if="task.dateActualStart != 'NaN-NaN-NaN' && task.dateActualStart != ''">
                تاريخ البداية الفعلي: {{task.dateActualStart}}
            </p>
            <p ng-if="task.dateActualEnd != 'NaN-NaN-NaN' && task.dateActualEnd != ''">
                تاريخ النهاية الفعلي: {{task.dateActualEnd}}
            </p>
            <p ng-if="task.teamInt.length > 0" style="font-weight: bold">فريق العمل داخليا</p>
            <div style="margin: 10px" ng-repeat="member in task.teamInt">
                <div ng-repeat="user in allUsers" ng-if="member == user._id">
                    <p>
                        {{user.name}}
                    </p>
                </div>
            </div>
            <p ng-if="task.teamExt.length > 0" style="font-weight: bold">فريق العمل خارجيا</p>
            <div style="margin: 10px" ng-repeat="member in task.teamExt">
                <div ng-repeat="user in allUsers" ng-if="member == user._id">
                    <p>
                        {{user.name}}
                    </p>
                </div>
            </div>
            <p ng-if="task.description != ''">
                تفصيلات المهمة والخطوات التنفيذية: {{task.description}}
            </p>
            <p ng-if="task.requirements != ''">
                مطالب التنفيذ - الأدوات: {{task.requirements}}
            </p>
            <p ng-if="task.kpis != ''">
                مؤشرات الأداء: {{task.kpis}}
            </p>

        </div>

    </div>
    <div ng-if="!printAllTasks" style="margin:8px">
        <p style="font-weight: bold;color: blue;" ng-if="selectedProject != undefined">
            المشروع: {{selectedProject.name}}
        </p>
        <p style="font-weight: bold;color: blue;margin: 8px">
            المرحلة: {{selectedTask.stage}}
        </p>
        <p style="font-weight: bold;color: blue"> عنوان المهمة: {{selectedTask.name}} </p>
        <p>
            حالة المهمة: {{selectedTask.active ? 'نشطة':'تمت'}}
        </p>
        <p ng-repeat="user in allUsers" ng-if="user._id == selectedTask.manager">
            مدير المهمة: {{user.name}}
        </p>
        <p ng-if="selectedTask.approxCost != 0">
            التكلفة التقديرية {{selectedTask.approxCost}}
        </p>
        <p ng-if="selectedTask.datePlannedStart != 'NaN-NaN-NaN' && selectedTask.datePlannedStart != ''">
            تاريخ البداية المخطط: {{selectedTask.datePlannedStart}}
        </p>
        <p ng-if="selectedTask.datePlannedEnd != 'NaN-NaN-NaN' && selectedTask.datePlannedEnd != ''">
            تاريخ النهاية المخطط: {{selectedTask.datePlannedEnd}}
        </p>
        <p ng-if="selectedTask.dateActualStart != 'NaN-NaN-NaN' && selectedTask.dateActualStart != ''">
            تاريخ البداية الفعلي: {{selectedTask.dateActualStart}}
        </p>
        <p ng-if="selectedTask.dateActualEnd != 'NaN-NaN-NaN' && selectedTask.dateActualEnd != ''">
            تاريخ النهاية الفعلي: {{selectedTask.dateActualEnd}}
        </p>
        <p ng-if="selectedTask.teamInt.length > 0" style="font-weight: bold">فريق العمل داخليا</p>
        <div style="margin: 10px" ng-repeat="member in selectedTask.teamInt">
            <div ng-repeat="user in allUsers" ng-if="member == user._id">
                <p>
                    {{user.name}}
                </p>
            </div>
        </div>
        <p ng-if="selectedTask.teamExt.length > 0" style="font-weight: bold">فريق العمل خارجيا</p>
        <div style="margin: 10px" ng-repeat="member in selectedTask.teamExt">
            <div ng-repeat="user in allUsers" ng-if="member == user._id">
                <p>
                    {{user.name}}
                </p>
            </div>
        </div>
        <p ng-if="selectedTask.description != ''">
            تفصيلات المهمة والخطوات التنفيذية: {{selectedTask.description}}
        </p>
        <p ng-if="selectedTask.requirements != ''">
            مطالب التنفيذ - الأدوات: {{selectedTask.requirements}}
        </p>
        <p ng-if="selectedTask.kpis != ''">
            مؤشرات الأداء: {{selectedTask.kpis}}
        </p>

    </div>


</div>