<!-- '' +
'<form class="formName">' +
'<div class="form-group">' +
'<label>إضاف هدف رئيسي</label>' +
'<select name="select" class="strategic form-control">'+
'<option value="" disabled>هدف استراتيجي</option>'+
'<option value="{{$index}}" ng-repeat="mainGoal in strategicGoals">'+
    '{{mainGoal.name}}'+
'</option>'+
'</select>'+
'<label>اختيار الهدف التفصيلي</label>'+
'<select name="select" class="secondary form-control">'+
    '<option value="">هدف تفصيلي</option>'+
    '<option value="{{key}}" ng-repeat="(key, value) in selectedStrategicGoal.subgoals">'+
        '{{value.name}}'+
    '</option>'+
'</select>'+
'</div>' +
'</form>' -->